
/*hack stuff*/
body {
	margin-bottom: 200px;
}

/*this is where jQuery appends the instagram json response*/
#instagram {
	float: left;
	padding: 20px;
}

/*around each image*/
.instagram-wrap {
	float: left;
	position: relative;
	background: white;
	padding: 5px;
	margin: 15px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.instagram-wrap .likes {
	height: 16px;
	position: absolute;
	left: 10px;
	top: 10px;
	padding: 0 5px 0 22px;
	line-height: 16px;
	border: 1px solid #ddd;
	background: white url('fav.png') no-repeat 2px 0;
	opacity: 0.6;
}

/*does what it says*/
.clearfix {
	clear:both;
}

/*wrapper for more pics*/
#showMore{
	background: #202628;
	margin: 20px 15px 28px;
	text-align: center;
}

/*button for more pics if available*/
#more {
	padding: 10px;
	margin: 20px;
	color: #CCC;
	font-size: 20px;
	line-height: 22px;
	display: block;
	font-family: "brandon_bold",Arial,Helvetica,sans-serif;

}

#main-navigation #navigation li.has-drop-down.trend{
	display: none;
}

/******  hide the footer for easier dev *********/
#sticky-footer-wrap {
	display: none;
}

/******  hide the footer flyouts for easier dev *********/
.sticky-flyout,
#Footer_Flyout_1,
#Footer_Flyout_2 {
	display: none;
}